.footer {
  padding: 60px 0;
  background: $back-color;

  &__set {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: center;
    }
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      text-align: left;
    }
  }
}

// FOOTER ADRESS

.footer-adress {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    width: 50%;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 70px;
  }

  &__item:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: 1200) {
      margin-bottom: 9px;
    }
  }
}

.footer-adress__list {
  @extend %list;
}

.footer-adress__logo {
  margin-bottom: 20px;
}

.footer-adress__link {
  font-style: normal;
  @include font(14px, null, 1.71, 0.03em);

  color: $title-color;
  @extend %link;
  transition: color $duration $timing-function;

  &--grey {
    color: $third-text-color;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

// FOOTER SOCIALS

.footer-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    width: 50%;
  }

  @media screen and (min-width: 1200px) {
    align-items: flex-start;
    margin-right: 93px;
    margin-bottom: 0;
  }
}

// FOOTER-FORM

.footer__subtitle {
  display: block;
  color: $title-color;
  margin-bottom: 20px;
  text-align: center;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.footer-form__input {
  @extend %input;
  display: block;

  padding: 16px 15px;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;

  background-color: transparent;

  @include bordered(rgba(255, 255, 255, 0.3));

  box-shadow: 0px 4px rgba(0, 0, 0, 0.15);
  outline: none;

  transition: border-color $duration $timing-function;

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    margin-bottom: 0;
    margin-right: 12px;
    width: 358px;
  }

  &:hover,
  &:focus-within {
    border-color: $accent-color;
  }

  &::placeholder {
    font-family: inherit;
    @include font(16px, null, 1.25, 0.03em);
    color: rgba(255, 255, 255, 0.6);
  }

  &:not(:placeholder-shown):required {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    border-color: $accent-color;
  }
}

.footer-form__btn {
  padding: 10px 28px 10px 29px;
}
