// CONTACTS

.header-contacts {
  @extend %list;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 21px;
  padding-bottom: 21px;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header-contacts__link {
  display: flex;
  align-items: center;
  @include font(12px, 500, 1.17, 0.02em);
  color: $secondary-text-color;
  transition: color $duration $timing-function;
  @extend %link;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    @include font(14px, 500, 1.14, 0.02em);
  }
}

.header-contacts__item {
  &:first-child {
    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
      margin-right: 30px;
    }
  }
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
