.hero {
  margin: 0 auto;
  padding: 118px 0;
  max-width: 480px;
  height: 400px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-resolution: 2ddpx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-mobile2x.jpg);
  }
}

@media (min-resolution: 3ddpx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-mobile3x.jpg);
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-tablet.jpg);
  }

  @media (min-resolution: 2ddpx) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-tablet2x.jpg);
    }
  }

  @media (min-resolution: 3ddpx) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-tablet3x.jpg);
    }
  }
}

@media (min-width: 768px) {
  .hero {
    max-width: 1600px;
    padding: 200px 0;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-desktop.jpg);
  }

  @media (min-resolution: 2ddpx) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-desktop2x.jpg);
    }
  }

  @media (min-resolution: 3ddpx) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-desktop3x.jpg);
    }
  }
}

.hero__title {
  display: block;
  margin-bottom: 30px;
  // @include font(44px, 900, 1.36, 0.06em);
  @include font(26px, 900, 1.62, 0.06em);
  text-align: center;
  text-transform: uppercase;

  color: $title-color;
}

.hero__btn {
  padding: 10px 32px;
}
