.works {
  display: none;
  padding-bottom: 94px;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.works__list {
  @extend %list;
  display: flex;
  margin-top: 50px;
}

.works__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.works__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.works__subtitle {
  @extend %centeredFlex;

  position: absolute;
  bottom: 0;
  left: 0;

  color: $title-color;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
}
