.modal {
  padding: 40px;
  position: relative;
  min-height: 581px;

  background: $title-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  @include bordered(transparent);

  @media screen and (min-width: 480px) {
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    transition: transform 500ms $timing-function;

    .backdrop--hidden & {
      transform: translate(-50%, -50%) perspective(400px) rotateY(-90deg);
    }
  }

  @media screen and (min-width: 1200px) {
    transform: translate(-50%, -50%);
    width: 528px;
  }
}

// MODAL FORM

.modal-form {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.modal-form__title {
  display: block;
  margin-bottom: 12px;

  @include font(20px, 700, 1.5, 0.03em);
  text-align: center;

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}

.form-field {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;

  &:nth-of-type(4) {
    margin-bottom: 20px;
  }
}

.form-field__label {
  display: block;
  @include font(12px, null, 1.17, 0.01em);

  color: $secondary-text-color;
  margin-bottom: 4px;
}

.form-field__wrap {
  display: block;
  position: relative;
}

.form-field__input {
  @extend %input;
  padding-left: 42px;
  width: 100%;
  height: 40px;

  font-family: inherit;
  @include bordered(rgba(33, 33, 33, 0.2));
  color: #000;
  outline: none;

  transition: border-color $duration $timing-function;

  .form-field__wrap:hover &,
  .form-field__wrap:focus-within & {
    border-color: $accent-color;
  }
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill $duration $timing-function;

  .form-field__wrap:hover &,
  .form-field__wrap:focus-within & {
    fill: $accent-color;
  }
}

.form-field__comment {
  display: block;
  margin: 0;
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;

  font-family: inherit;
  @include font(14px, null, 1.17, 0.01em);
  color: #000;

  @include bordered(rgba(33, 33, 33, 0.2));
  cursor: pointer;
  resize: none;
  outline: none;

  transition: border-color $duration $timing-function;

  &::placeholder {
    @include font(12px, null, 1.17, 0.01em);
    color: rgba(117, 117, 117, 0.5);
  }

  &:hover,
  &:focus {
    border-color: $accent-color;
  }
}

.checkbox {
  @extend %centeredFlex;
  margin-bottom: 30px;

  cursor: pointer;
}

.checkbox__input {
  @extend %input;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox__label {
  @include font(12px, null, 1.17, 0.03em);
  color: $secondary-text-color;
  @media screen and (min-width: 1200px) {
    @include font(14px, null, 1.7, 0.03em);
  }
}

.checkbox__link {
  color: $accent-color;
}

.checkbox__icon {
  display: inline-block;
  min-width: 16px;
  min-height: 15px;

  background-color: transparent;
  border: 2px solid $primary-text-color;
  border-radius: 4px;
  margin-right: 7px;
  transition: background-color $duration $timing-function;

  .checkbox__input:checked + & {
    background-color: $accent-color;
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: $accent-color;
  }

  .checkbox__input:focus + & {
    border-color: $accent-color;
  }
}

.modal-form__btn {
  padding: 10px 32px;
}
