$primary-text-color: #212121;
$secondary-text-color: #757575;
$third-text-color: rgba(255, 255, 255, 0.6);
$title-color: #ffffff;
$accent-color: #2196f3;
$second-accent-color: #188ce8;
$logo-accent-color: #000;
$back-color: #2f303a;
$secondary-back-color: #f5f4fa;
$icon-color: #afb1b8;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;

$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
